/* General custom */

body{
	background-color: white;
	color: rgb(30,30,30);
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

h1,h2{
	color:rgb(46, 93, 204);
	text-align: center;
	margin: 0px 20px auto;
	margin-bottom: 20px;
}
 .school-margin{
 	margin-top: 50px;
 	margin-bottom: 50px;
 }

 #school-space{
 	margin-bottom: 75px;
 }


/* Specific design */

.container {
	width: 700px;
	margin: 30px auto; 
}


@media (max-width: 500px) {
	.container{
		width: 400px;
	}
	#img-cercle {
	margin:0px 50px;

} 
}
.card-white{
	background-color: rgb(230,230,230);
	padding: 40 px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin:  20px 0px;
	padding: 30px;
}

#img-cercle {
  	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin:0px 225px;

} 

.img-width{
	width: 70px;
	float: left;
	margin: 0px 10px;
}
.list-align{
	margin: 0px 70px;
	margin-bottom: 40px;
}


i{
	font-size: 50px;
}

#intro{
	text-align: center justify;

}

#link-center{
	margin: 0px 300px;
}